* {
    margin: 0px;
}

body {
    background-color: #66CAEF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.container {
    width: 375px;
    height: 667px; 
    margin: auto;
    background-color:white;
    
}

.contact_info {
    width: 125px;
    height: 667px;
    margin:auto;
    background-color: #ABDBE2;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    margin-top: -30px;
    font-size: 90px;
}

h4 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 25px;
}


h3 {
    text-align: center;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

