.container {
    position: relative;
    width: 100%;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    position: absolute;
    height: 40px;
    width: 200px;
    background-color: lightblue;
    padding: 10px 10px 10px 10px;
    top: 20px;
    left: 20px;
}

.menu {
    position: absolute;
    height: 25px;
    width: 30px;
    background-color: lightsteelblue;
    top: 20px;
    left: 450px;
}

.photo1 {
    Position: relative;
    background-color: lightpink;
    top: 100px;
    width: 30rem;
    height: 40rem;
    margin: auto;
}

.photo2 {
    Position: relative;
    background-color: lightsteelblue;
    top: 100px;
    width: 30rem;
    height: 40rem;
    margin: auto;
}

.photo3 {
    position: relative; 
    background-color: lightyellow;
    top: 100px;
    width: 30rem;
    height: 40rem;
    margin: auto;
}

.photo4 {
    Position: relative;
    background-color: lightcoral;
    top: 100px;
    width: 30rem;
    height: 40rem;
    margin: auto;
}

.project-description {
    position: relative;
    background-color: lightgrey;
    width: 60rem;
    height: 20rem;
}
