* {
    margin: 0;
}

.title {
    text-align: center;
    padding-top: 3rem;

}

.big-image {
    padding: .5rem .5rem .5rem .5rem;

}

/*****************/
/**** Header *****/
/*****************/

header {
    position: relative;
}

.page {
    width: 100%;
}

main {
    width: 90%;
    margin: auto;
}

.name {
    margin-bottom: 1.25rem;
    margin-top: 3.125rem;
    text-align: center;
}

/*.name h1 {
    font-size: 4rem;
    margin-bottom: .95rem;
    margin-top: 4rem;
    font-family: 'Pacifico', cursive;
    font-weight: 600;
    font-style: normal;
    color: lightblue;
}*/

.name h1 {
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
    margin-top: 5rem;
     font-family: gill-sans-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: lightblue;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    text-align: right;
}


.name h1 span {
	font-weight: 800;
}


.content {
    margin-bottom: 1.25rem;
    margin-top: 3.125rem;
}

.content h2 {
    font-size: 1.25rem;
   font-family: gill-sans-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: lightblue;
    margin-top: 3.125rem;
    border-bottom: 1px solid #000;
    padding-bottom: 0.3125rem;
    width: 10rem;
    color: #1d90fc;
}

.content h3{
    margin-top: 1.5rem;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: lightblue;
    font-size: 1.5rem;
}

.content h4 {
    font-family: gill-sans-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.25rem;
    
}

.content p {
   font-family: gill-sans-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.content ul {
    font-family: gill-sans-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
}


body {
    font-family: gill-sans-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.work_info {
    margin-left: 40px;
    margin-right: 20px;
}

.activities_info {
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.languages_info  {
    margin-left: 40px;
    margin-right: 20px;
}

.skills_info {
    margin-left: 40px;
    margin-right: 20px;
}

.education_info  {
    margin-left: 40px;
    margin-right: 20px;
}

.interests_info {
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.contact_info {
    margin-top: 20px;
}

.work2 {
    margin-top: 15px;
}

*******************
***/* Nav Bar */***
*******************

nav {
    text-align: center;
    width: 100%;
}

.nav-bar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: .875rem 1rem;
    text-decoration: none;
    font-size: .95rem;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.topnav a.icon {
    color: black;
    float: right;
    display: block;
    font-size: 1.25rem;
}

.topnav a:hover {
    background-color: lightslategray;
    color: #fff;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
}

.main-nav a {
    display: none;
}

.main-nav {
    /*    margin-top:3.5rem;*/
}

.main-nav.responsive {
    position: relative;

}

.main-nav.responsive a {
    float: none;
    display: block;
}

    
@media only screen and (min-width: 601px) {

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .topnav a.icon {
        display: none;
    }

    .topnav.responsive .icon {
        display: none;
    }

    .main-nav a {
        display: flex;
    }


}

@media only screen and (min-width: 960px) {
    .page {
        /* 960px */
        width: 60rem;
        margin: 0 auto;
    }

   .page {
        margin: 0 auto;
        margin-left: 7rem;
        margin-right: 7rem;
    }

    nav {
        margin: 0 auto;
    }

    .main-nav {
        margin-right: 7rem;
    }

    .main-nav a {
        font-size: 1.50rem;
    }
    
    .intro {
        width: 80%;

    }
    
    .intro h1 {
        font-size: 4.6875rem;
    }

    .content h2 {
    font-size: 1.25rem;
    }
 
    .content h3{
    margin-top: 1.5rem;
        }

    .flex{
	   display: flex;
        }  
      
    body{
        width: 960px;
        } 
    
    header{
        display: flex;
    }
    
    .whole-container {
        display: flex;
        margin:0 auto;
        padding:10;
        width:90%
    }
    
    .left-container {
        margin-left: 80px;
        margin-right: 40px;
        width:50%;
        margin-top: 10px;
    }
    
     .right-container {
        margin-top: 10px;
    }
    
     .name h1 {
        font-size: 4.6875rem;
    }
    
}