* {
    margin: 0;
}

*******************
***/* Nav Bar */***
*******************

nav {
    text-align: center;
    width: 100%;
}

.nav-bar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: .875rem 1rem;
    text-decoration: none;
    font-size: .95rem;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.topnav a.icon {
    color: black;
    float: right;
    display: block;
    font-size: 1.25rem;
}

.topnav a:hover {
    background-color: lightslategray;
    color: #fff;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
}

.main-nav a {
    display: none;
}

.main-nav {
    /*    margin-top:3.5rem;*/
}

.main-nav.responsive {
    position: relative;

}

.main-nav.responsive a {
    float: none;
    display: block;
}


******************
***/* Header */***
******************

header {
    position: relative;
}


****************
***/* Page */***
****************

.page {
    width: 100%;
}

main {
    width: 100%;
    margin: auto;
}

*****************
***/* Intro */***
*****************

.name {
    margin-bottom: 6rem;
    margin-top: 3rem;
}

.name h1 {
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
    margin-top: 5rem;
     font-family: gill-sans-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #e58e99;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
    text-align: center;
}

.name p {
    font-size: 1rem;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
    width: 100%;
}

.name h1 span {
	font-weight: 800;
}

.projects {
    z-index: 0;
}

.projects h2 span {
	font-weight: 800;
}

.project1 {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.project1 img {
    width: 100%;
}

.overlay1 {
    width: 100%;
    position: absolute;
    color: #fff;
}

.overlay1 h2 {
    padding: 0.625rem;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: rgba(87,117,165,0.4);
    text-align: right;
}

.project2 {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 3.125rem 0;
}

.project2 img {
    width: 100%;
}

.overlay2 {
    width: 100%;
    position: absolute;
    color: #fff;
    z-index: 2;
}

.overlay2 h2 {
    padding: 0.625rem;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: rgba(87,117,165,0.4);
    text-align: right;
}

.project3 {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 3.125rem 0;
}

.project3 img {
    width: 100%;
}

.overlay3 {
    width: 100%;
    position: absolute;
    color: #fff;
}

.overlay3 h2 {
    padding: 0.625rem;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: rgba(87,117,165,0.4);
    text-align: right;
}

.project4 {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 3.125rem 0;
}

.project4 img {
    width: 100%;
}

.overlay4 {
    width: 100%;
    position: absolute;
    color: #fff;
}

.overlay4 h2 {
    padding: 0.625rem;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: rgba(87,117,165,0.4);
    text-align: right;
}


@media only screen and (min-width: 601px) {

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .topnav a.icon {
        display: none;
    }

    .topnav.responsive .icon {
        display: none;
    }

    .main-nav a {
        display: flex;
    }
    

}

@media only screen and (min-width: 960px) {
    .page {
        margin: 0 auto;
        margin-left: 7rem;
        margin-right: 7rem;
    }

    nav {
        margin: 0 auto;
    }

    .main-nav {
        margin-right: 7rem;
    }

    .main-nav a {
        font-size: 1.50rem;
    }
    
    .name {
        width: 80%;
        margin-bottom: 2.5rem;
    }
    
    .name h1 {
        font-size: 4rem;
        margin-left: .8rem;
    }

    .name p {
        margin-bottom: 6.25rem;
    }
    
    .projects {
        width: 100%;
        display: grid;
        justify-content: space-between;
    }
    

    .project1 {
        width: 32rem;
        height: 26rem;
        margin-bottom: .9rem;
        grid-column-start: 1;    
    }
    
    
    .project1 img {
        height: 100%;
    }
    
    .project2 {
        width: 32rem;
        height: 26rem;
        overflow: hidden;
        grid-column-start: 2;
        margin: 0;
    }
    
    .project2 img {
        height: 100%;
        width: auto;
        position: relative;
    }
    

    .project3 {
        width: 32rem;
        height: 26rem;
        margin-top: 0;
    }
    
    .project3 img {
        height: 100%;
    }
  
    .link4 {
        text-decoration: none;
    } 
    
    .project4 {
        width: 32rem;
        height: 26rem;
        margin: 0;
    }
    
    .project4 img {
        height: 100%;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .image {
        width: 100%;
        height: auto;
    }
    
    .project-1 {
    padding: .5rem .5rem .5rem .5rem;

    }

    .project-2 {
        padding: .5rem .5rem .5rem .5rem;
    }

    .project-3 {
        padding: .5rem .5rem .5rem .5rem;
    }

    .projact-4 {
        padding: .5rem .5rem .5rem .5rem;

    }
    
    .overlay1 {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background-color: rgba(255, 255, 255, 0.8);
        color: black; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: black;
        font-size: 20px;
        padding: 20px;
        text-align: center;
        font-family: gill-sans-nova, sans-serif;
        font-weight: 200;
    }
    
    .overlay1 h2 {
        font-size: 2.50rem;
        background-color: transparent;
        text-align: center;
    } 
    
    .overlay2 {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background-color: rgba(255, 255, 255, 0.8);
        color: black; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: black;
        font-size: 20px;
        padding: 20px;
        text-align: center;
        font-family: gill-sans-nova, sans-serif;
        font-weight: 200;
    }
    
    .overlay2 h2{
        font-size: 2.50rem;
        background-color: transparent;
        text-align: center;
    }
    
    .overlay3 {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background-color: rgba(255, 255, 255, 0.8);
        color: black; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: black;
        font-size: 20px;
        padding: 20px;
        font-family: gill-sans-nova, sans-serif;
        font-weight: 200;
    }
    
      .overlay3 h2 {
        font-size: 2.50rem;
        background-color: transparent;
        text-align: center;
    }
   
    .overlay4 {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background-color: rgba(255, 255, 255, 0.8);
        color: black; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: black;
        font-size: 20px;
        padding: 20px;
        font-family: gill-sans-nova, sans-serif;
        font-weight: 200;
    }
    
    .overlay4 h2 {
        font-size: 2.50rem;
        background-color: transparent;
        text-align: center;
    }

    .project1 :hover .overlay1 {
        opacity: 1;
    }
    
    .project2 :hover .overlay2 {
        opacity: 1;
    }

    .project3 :hover .overlay3 {
        opacity: 1;
    }

    .project4 :hover .overlay4 {
        opacity: 1;
    }
}



